.mainDiv{
	width: 665px;
	margin-left: auto;
	margin-right: auto;
}

.memorizeDetailButton{
	position: relative;
	left: 30px;
}

.backButton{
	position: relative;
	left:50px;
}

.wordContainer{
	clear:both;
	padding-top: 10px;
}

.wordItem{
	list-style: none;
	margin-left: 0;
}


.wordCell{
	margin-left: 0;
	width: 665px;
	height:57px;
	white-space: nowrap;

}

.wordTitle{
	display: inline-block;
	width:150px;
	font-size: 23px;
	margin-left: 20px;
	color: #f36e5d;
	line-height: 57px;
	cursor: pointer;
}

.wordVoice{
	display: inline-block;
	background: url('../images/voice_red.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border: none;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.wordMeaning{
	display: inline-block;
	width:400px;
	overflow: hidden;
	margin-left:10px;
	font-size: 18px;
	color:#f36e5d;
	text-overflow:ellipsis;                    
    -o-text-overflow:ellipsis;		/*fire-fox*/
}

